@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{

    background: url(https://i.ibb.co/mFN47p4/background-SIH.png);
    background-size: cover;
}


.header{ 
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    /* border: 2px solid red; */
    align-items: center;
    margin-left: 60%;
    
}


.nav{ 
    display: flex;
    font-size: 30px;
    font-weight: 400;
    align-items: center;
    height: 8vh;
}

.nav a{ 
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    padding: 5px 20px;
    margin-left: 20px;
    transition: 0.3s;
}


.nav a:hover{ 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px ;

    color:  black;
    background-color: rgb(241, 196, 111);
}

.main p{ 

    display: flex;
    align-items: center;
    font-family: 'Josefin-Sans';
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    height: 550px;
    width: 1200px;
    padding: 10%;
    margin-left: 9%;

}

